USE [master]
GO
/****** Object:  Database [AseguradoraBD]    Script Date: 20/11/2025 05:27:19 p. m. ******/
CREATE DATABASE [AseguradoraBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AseguradoraBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AseguradoraBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AseguradoraBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AseguradoraBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AseguradoraBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AseguradoraBD]
GO
/****** Object:  UserDefinedTableType [dbo].[ClienteTableType]    Script Date: 20/11/2025 05:27:19 p. m. ******/
CREATE TYPE [dbo].[ClienteTableType] AS TABLE(
	[Cedula] [varchar](50) NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Edad] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[CodigosSegurosType]    Script Date: 20/11/2025 05:27:19 p. m. ******/
CREATE TYPE [dbo].[CodigosSegurosType] AS TABLE(
	[Codigo] [nvarchar](50) NULL
)
GO
/****** Object:  Table [dbo].[ClienteAsegurado]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteAsegurado](
	[IdAsegurado] [bigint] NOT NULL,
	[Cedula] [varchar](50) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_ClienteAsegurado] PRIMARY KEY CLUSTERED 
(
	[IdAsegurado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguro]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguro](
	[IdSeguro] [bigint] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreSeguro] [varchar](100) NOT NULL,
	[SumaAsegurada] [decimal](18, 2) NOT NULL,
	[Prima] [decimal](18, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[EdadMinima] [int] NOT NULL,
	[EdadMaxima] [int] NOT NULL,
 CONSTRAINT [PK_Seguro] PRIMARY KEY CLUSTERED 
(
	[IdSeguro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Seguros_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurosAsignados]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurosAsignados](
	[IdSeguroAsignado] [bigint] NOT NULL,
	[IdCliente] [bigint] NOT NULL,
	[IdSeguro] [bigint] NOT NULL,
	[Estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeguroAsignado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Seguro] ADD  DEFAULT ((0)) FOR [EdadMinima]
GO
ALTER TABLE [dbo].[Seguro] ADD  DEFAULT ((120)) FOR [EdadMaxima]
GO
ALTER TABLE [dbo].[SegurosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_ClienteSeguro_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[ClienteAsegurado] ([IdAsegurado])
GO
ALTER TABLE [dbo].[SegurosAsignados] CHECK CONSTRAINT [FK_ClienteSeguro_Cliente]
GO
ALTER TABLE [dbo].[SegurosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_ClienteSeguro_Seguro] FOREIGN KEY([IdSeguro])
REFERENCES [dbo].[Seguro] ([IdSeguro])
GO
ALTER TABLE [dbo].[SegurosAsignados] CHECK CONSTRAINT [FK_ClienteSeguro_Seguro]
GO
/****** Object:  StoredProcedure [dbo].[apt_cliente_asignar_seguros_gestion]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[apt_cliente_asignar_seguros_gestion]
(
    @cedula VARCHAR(50),
    @codigos dbo.CodigosSegurosType READONLY,
    @estado INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idCliente BIGINT;
    DECLARE @ultimoId BIGINT;

    -- Obtener IdCliente por cédula
    SELECT @idCliente = (SELECT TOP 1 IdAsegurado FROM ClienteAsegurado WHERE Cedula = @cedula);

    IF @idCliente IS NULL
    BEGIN
        RAISERROR('Cliente no encontrado con la cédula proporcionada.', 16, 1);
        RETURN;
    END

    -- Bloquear tabla para consistencia en cálculo de IdSeguroAsignado
    SELECT @ultimoId = ISNULL(MAX(IdSeguroAsignado), 0) FROM SegurosAsignados WITH (TABLOCKX);

    ;WITH CodigosValidos AS
    (
        SELECT c.Codigo, s.IdSeguro
        FROM @codigos c
        INNER JOIN Seguro s ON s.Codigo = c.Codigo
    ),
    CodigosParaInsertar AS
    (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY Codigo) + @ultimoId AS IdSeguroAsignado,
            @idCliente AS IdCliente,
            IdSeguro,
            @estado AS Estado
        FROM CodigosValidos cv
        WHERE NOT EXISTS (
            SELECT 1 FROM SegurosAsignados sa
            WHERE sa.IdCliente = @idCliente AND sa.IdSeguro = cv.IdSeguro
        )
    )
    INSERT INTO SegurosAsignados (IdSeguroAsignado, IdCliente, IdSeguro, Estado)
    SELECT IdSeguroAsignado, IdCliente, IdSeguro, Estado
    FROM CodigosParaInsertar;

    -- Retornar registros insertados esta ejecución
    SELECT IdSeguroAsignado, IdCliente, IdSeguro, Estado
    FROM SegurosAsignados
    WHERE IdSeguroAsignado > @ultimoId AND IdCliente = @idCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[apt_cliente_consultas]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[apt_cliente_consultas](
	@cedula VARCHAR(50) = NULL,
	@nombres_o_apellidos VARCHAR(100) = NULL,
	@estado INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT IdAsegurado, 
               Cedula, 
               Nombres, 
               Apellidos, 
               Telefono, 
               Edad, 
               Estado
        FROM ClienteAsegurado
        WHERE (ISNULL(@cedula, '') = '' OR Cedula = @cedula)
          AND (ISNULL(@nombres_o_apellidos, '') = '' 
               OR Nombres LIKE '%' + @nombres_o_apellidos + '%' 
               OR Apellidos LIKE '%' + @nombres_o_apellidos + '%')
          AND (ISNULL(@estado, -1) = -1 OR Estado = @estado)
        ORDER BY Nombres ASC, Apellidos ASC;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[apt_cliente_gestion]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[apt_cliente_gestion](
	@opcion INT,
	@cedula VARCHAR(50),
	@nombres VARCHAR(100) = NULL,
	@apellidos VARCHAR(100) = NULL,
	@telefono VARCHAR(50) = NULL,
	@edad INT = NULL,
	@estado INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @existeCliente INT;
	DECLARE @idCliente BIGINT;
	DECLARE @nuevoIdCliente BIGINT;

    BEGIN TRY
        BEGIN TRANSACTION

        IF @opcion = 1 -- INSERTAR
        BEGIN
			SELECT @existeCliente = COUNT(1)
			FROM ClienteAsegurado
			WHERE Cedula = @cedula;

			IF @existeCliente = 1
			BEGIN
				RAISERROR('Cliente ya existe en el sistema con la cédula: %s', 16, 1, @cedula);
			END

			SELECT @idCliente = ISNULL(MAX(IdAsegurado), 0)
			FROM ClienteAsegurado WITH (TABLOCKX);

			SET @nuevoIdCliente = @idCliente + 1;

            INSERT INTO ClienteAsegurado (IdAsegurado, Cedula, Nombres, Apellidos, Telefono, Edad, Estado)
            VALUES (@nuevoIdCliente, @cedula, @nombres, @apellidos, @telefono, @edad, @estado);

            IF @@ROWCOUNT = 0
                THROW 50001, 'No se pudo insertar el cliente asegurado.', 1;

			SELECT @nuevoIdCliente AS IdAsegurado;
			
			COMMIT TRANSACTION
        END

        IF @opcion = 2 -- ACTUALIZAR
        BEGIN
			SELECT @existeCliente = COUNT(1)
				FROM ClienteAsegurado
			WHERE Cedula = @cedula;

			IF @existeCliente = 0
			BEGIN
				RAISERROR('No se encontró el cliente asegurado para actualizar.', 16, 1);
			END
			
            UPDATE ClienteAsegurado
            SET Nombres = @nombres,
                Apellidos = @apellidos,
                Telefono = @telefono,
                Edad = @edad,
                Estado = @estado
            WHERE Cedula = @cedula;

            IF @@ROWCOUNT = 0
                THROW 50002, 'No se encontró el cliente asegurado para actualizar.', 1;

			SELECT @idCliente = IdAsegurado
				FROM ClienteAsegurado
			WHERE Cedula = @cedula;
    
			SELECT @idCliente AS IdAsegurado;

			
			COMMIT TRANSACTION
        END

        IF @opcion = 3 -- ELIMINAR (marcar como inactivo)
        BEGIN

			SELECT @existeCliente = COUNT(1)
				FROM ClienteAsegurado
			WHERE Cedula = @cedula;

			IF @existeCliente = 0
			BEGIN
				RAISERROR('No se encontró el cliente asegurado para eliminar.', 16, 1);
			END

            UPDATE ClienteAsegurado
            SET Estado = 0
            WHERE Cedula = @cedula;

            IF @@ROWCOUNT = 0
                THROW 50003, 'No se encontró el cliente asegurado para eliminar.', 1;

			SELECT @idCliente = IdAsegurado
				FROM ClienteAsegurado
			WHERE Cedula = @cedula;
    
			SELECT @idCliente AS IdAsegurado;

			COMMIT TRANSACTION

        END

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[apt_cliente_ingreso_masivo]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[apt_cliente_ingreso_masivo]
    @Clientes dbo.ClienteTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ultimoId BIGINT;
    SELECT @ultimoId = ISNULL(MAX(IdAsegurado), 0) FROM ClienteAsegurado WITH (TABLOCKX);

    -- Insertar solo clientes que no existen
    ;WITH ClientesParaInsertar AS
    (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY c.Cedula) + @ultimoId AS IdAsegurado,
            c.Cedula,
            c.Nombres,
            c.Apellidos,
            c.Telefono,
            TRY_CAST(c.Edad AS INT) AS Edad,
            1 AS Estado
        FROM @Clientes c
        WHERE NOT EXISTS (
            SELECT 1 FROM ClienteAsegurado cli WHERE cli.Cedula = c.Cedula
        )
    )
    INSERT INTO ClienteAsegurado (IdAsegurado, Cedula, Nombres, Apellidos, Telefono, Edad, Estado)
    SELECT IdAsegurado, Cedula, Nombres, Apellidos, Telefono, Edad, Estado
    FROM ClientesParaInsertar;

    -- Clientes insertados correctamente
    SELECT C.IdAsegurado, C.Cedula, C.Nombres, C.Apellidos, C.Telefono, C.Edad, C.Estado
    FROM ClienteAsegurado C
    INNER JOIN @Clientes inputC ON C.Cedula = inputC.Cedula
    WHERE C.IdAsegurado > @ultimoId;

    -- Clientes que no se insertaron porque ya existían
    SELECT c.Cedula, c.Nombres, c.Apellidos, c.Telefono, c.Edad
    FROM @Clientes c
    WHERE EXISTS 
    (
        SELECT 1 FROM ClienteAsegurado cli WHERE cli.Cedula = c.Cedula
    );
END
GO
/****** Object:  StoredProcedure [dbo].[apt_seguro_consultar_asignados]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[apt_seguro_consultar_asignados]
(
    @cedula VARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        sa.IdSeguroAsignado,
        ca.Cedula,
		CONCAT(ca.Apellidos, ' ', ca.Nombres) AS 'Nombres',
        s.Codigo AS CodSeguro,
        s.NombreSeguro,
        sa.Estado
    FROM SegurosAsignados sa
    INNER JOIN ClienteAsegurado ca ON sa.IdCliente = ca.IdAsegurado
    INNER JOIN Seguro s ON sa.IdSeguro = s.IdSeguro
    WHERE (@cedula IS NULL OR @cedula = '' OR ca.Cedula = @cedula);
END

GO
/****** Object:  StoredProcedure [dbo].[apt_seguro_consultas]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[apt_seguro_consultas](
	@codigo VARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT IdSeguro, 
               Codigo, 
               NombreSeguro, 
               SumaAsegurada, 
               Prima, 
               EdadMinima, 
               EdadMaxima, 
               Estado
        FROM Seguro
        WHERE (@codigo IS NULL OR @codigo = '' OR Codigo LIKE '%' + @codigo + '%')
        ORDER BY NombreSeguro ASC;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[apt_seguro_gestion]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[apt_seguro_gestion](
	@opcion INT,
	@codigo VARCHAR(50) = NULL,
	@nombreSeguro VARCHAR(100),
	@sumaAsegurada DECIMAL(18,2) = NULL,
	@prima DECIMAL(18,2) = NULL,
	@edadMinima INT = NULL,
	@edadMaxima INT = NULL,
	@estado INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @nuevoIdSeguro BIGINT;
    DECLARE @existeSeguro INT;
	DECLARE @codigoGenerado VARCHAR(50);

    BEGIN TRY
        BEGIN TRANSACTION

        IF @opcion = 1 -- INSERTAR
        BEGIN
			-- Si no se proporciona código, generarlo automáticamente
            IF @codigo IS NULL OR LTRIM(RTRIM(@codigo)) = ''
            BEGIN
                -- Extraer iniciales del nombre (mayúsculas)
                ;WITH Palabras AS (
                    SELECT value AS palabra
                    FROM STRING_SPLIT(@nombreSeguro, ' ')
                ),
                InicialesCTE AS (
                    SELECT UPPER(LEFT(palabra,1)) AS inicial
                    FROM Palabras
                )
                SELECT @codigoGenerado = (
                    SELECT STRING_AGG(inicial, '') FROM InicialesCTE
                ) + '-' + RIGHT('000' + CAST(CAST(RAND() * 1000 AS INT) AS VARCHAR), 3);
            END
            ELSE
                SET @codigoGenerado = @codigo;

			-- Verificar si ya existe código igual
            SELECT @existeSeguro = COUNT(1)
            FROM Seguro WITH (UPDLOCK, HOLDLOCK) -- Bloqueo para concurrencia en chequeo y siguiente Id
            WHERE Codigo = @codigoGenerado;

            IF @existeSeguro = 1
            BEGIN
                RAISERROR('Seguro ya existe en el sistema con el código: %s', 16, 1, @codigo);
                ROLLBACK TRANSACTION;
                RETURN;
            END

			SELECT @nuevoIdSeguro = ISNULL(MAX(IdSeguro), 0) + 1
            FROM Seguro WITH (TABLOCKX, HOLDLOCK);

			
            INSERT INTO Seguro (IdSeguro, Codigo, NombreSeguro, SumaAsegurada, Prima, EdadMinima, EdadMaxima, Estado)
            VALUES (@nuevoIdSeguro, @codigoGenerado, @nombreSeguro, @sumaAsegurada, @prima, @edadMinima, @edadMaxima, 1);

            IF @@ROWCOUNT = 0
                THROW 50001, 'No se pudo ingresar el seguro.', 1;

			SELECT @codigoGenerado AS Codigo;

            COMMIT TRANSACTION
        END

        ELSE IF @opcion = 2 -- ACTUALIZAR
        BEGIN
            SELECT @existeSeguro = COUNT(1)
            FROM Seguro
            WHERE Codigo = @codigo;

            IF @existeSeguro = 0
            BEGIN
                RAISERROR('No se encontró el seguro para actualizar.', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            UPDATE Seguro
            SET NombreSeguro = @nombreSeguro,
                SumaAsegurada = @sumaAsegurada,
                Prima = @prima,
                EdadMinima = @edadMinima,
                EdadMaxima = @edadMaxima,
                Estado = @estado
            WHERE Codigo = @codigo;

            IF @@ROWCOUNT = 0
                THROW 50002, 'No se pudo actualizar el seguro.', 1;

            COMMIT TRANSACTION
        END

        ELSE IF @opcion = 3 -- ELIMINAR (marcar como inactivo)
        BEGIN
            SELECT @existeSeguro = COUNT(1)
            FROM Seguro
            WHERE Codigo = @codigo;

            IF @existeSeguro = 0
            BEGIN
                RAISERROR('No se encontró el seguro para eliminar.', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            UPDATE Seguro
            SET Estado = 0
            WHERE Codigo = @codigo;

            IF @@ROWCOUNT = 0
                THROW 50003, 'No se pudo eliminar el seguro.', 1;

            COMMIT TRANSACTION
        END

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[apt_seguros_clientes_busqueda_por_cedula_codseguro]    Script Date: 20/11/2025 05:27:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[apt_seguros_clientes_busqueda_por_cedula_codseguro]
(
    @Busqueda VARCHAR(100),
    @Opcion INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Opcion = 1
    BEGIN
        -- Búsqueda por cédula: mostrar seguros asociados a ese asegurado con nombre concatenado
        SELECT
            sa.IdSeguroAsignado,
            s.Codigo AS CodSeguro,
            s.NombreSeguro,
            ca.Cedula,
            CONCAT(ca.Apellidos, ' ', ca.Nombres) AS Nombres,
            sa.Estado
        FROM SegurosAsignados sa
        INNER JOIN ClienteAsegurado ca ON sa.IdCliente = ca.IdAsegurado
        INNER JOIN Seguro s ON sa.IdSeguro = s.IdSeguro
        WHERE ca.Cedula = @Busqueda;
    END
    ELSE IF @Opcion = 2
    BEGIN
        -- Búsqueda por código de seguro: mostrar asegurados que tienen ese seguro con nombre concatenado
        SELECT
            sa.IdSeguroAsignado,
            s.Codigo AS CodSeguro,
            s.NombreSeguro,
            ca.Cedula,
            CONCAT(ca.Apellidos, ' ', ca.Nombres) AS Nombres,
            sa.Estado
        FROM SegurosAsignados sa
        INNER JOIN ClienteAsegurado ca ON sa.IdCliente = ca.IdAsegurado
        INNER JOIN Seguro s ON sa.IdSeguro = s.IdSeguro
        WHERE s.Codigo = @Busqueda;
    END
    ELSE
    BEGIN
        -- Opción inválida: no devuelve filas
        SELECT 
            CAST(NULL AS BIGINT) AS IdSeguroAsignado,
            CAST(NULL AS VARCHAR(100)) AS CodSeguro,
            CAST(NULL AS VARCHAR(200)) AS NombreSeguro,
            CAST(NULL AS VARCHAR(50)) AS Cedula,
            CAST(NULL AS VARCHAR(200)) AS Nombres,
            CAST(NULL AS INT) AS Estado
        WHERE 1 = 0; -- No retorna filas
    END
END
GO
USE [master]
GO
